.middleNavbarContainer {
  display: flex;
  justify-content: space-around;
  width: 66%;
  margin: auto;
  padding: 6px 0;
  padding-bottom: 15px;
  cursor: pointer;
}
.middleNavbarContainer > div:nth-child(1) {
  display: flex;
  gap: 0.5rem;
}
.middleNavbarContainer > div:nth-child(2) > input {
  /* border:10px solid black; */
  position: relative;
  width: 650px;
  padding: 10px;
  border: 1px solid rgb(231, 225, 225);
  height: 40px;
  margin-left: 50px;
  margin: auto;
  outline: none;
}
.searchIcon{
  position: absolute;
  left: 1050px;
  z-index: 200;
  height: 40px;
  width: 20px;
}
.middleNavbarContainer > div:nth-child(3) {
  /* border:1px solid black; */
  display: flex;
  gap: 1rem;
  margin-top: 5px;
  /* border: 1px solid black; */
}
.footerLine {
  border: 1px solid rgb(241, 238, 238);
}
.onHoverColorChange:hover{
  fill:#ed7745 ;
}
