.popularContainer{
  margin-top: 20px;
  position: relative;
  /* border: 1px solid black; */
}
.popularSubContainer{
  width: 950px;
  padding-top: 25px;
  margin: auto;
}

.exploreHeading{
  font-size: 25px;
  padding-Top: 20px;
  text-align: center; 
}
.headingUnderLine{
  width: 150px;
  margin: auto;
  border-bottom:  1px solid #f9913d;
  padding-top: 10px;
}
.leftSliderbuttton{
  position: absolute;
  font-size: 50px;
  margin-left: 1220px;
  border: none;
  background-color: white;
  margin-top: 200px;
}
.rightSliderButtton{
  margin-top: 200px;
  margin-left: 230px;
  position: absolute;
  font-size: 50px;
  border: none;
  background-color: white;
}
.prod_img {
  width: 210px;
  height: 210px;
}

.popularCardContainer {
  /* border: 1px solid black !important; */
  width: 220px ;
  height: 300px;
  
  /* position: relative; */
  border: 10px solid hsla(0, 0%, 100%, 0.973);
}


.des > p {
  margin: 0;
  font-size: 12px;
  color: gray;
  text-align: center;
}
